window#waybar{
	background: rgba(80,80,255,0.4);
	color: #ffffff;
	}
#battery {
    padding-left: 6px;
    padding-right: 6px;
}

#battery .icon {
    margin-right: 4px;
}
#network {
  padding: 0 10px;
  color: #e0e3e8;
}

#network.disconnected {
  color: #f38ba8;
}
